

<!DOCTYPE html>
<html class='' lang="pt-br">
<head>
 
   
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    
    <script type="text/javascript" src="../../public/js/css_live_reload_init.js"></script>
    
    <link rel="shortcut icon" type="image/x-icon" href="../../public/imgs/faviconAba.ico" />
    <link rel="mask-icon" type="" href="../../public/imgs/logo-pin.svg" color="#111" />
    
    <script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
    <link rel='stylesheet prefetch' href=''>
    <link rel="stylesheet" href="../../public/css/login.css">
    <style class="cp-pen-styles"></style>
    
</head>
<body>
        <!-- LOGIN MODULE -->
        <div class="login">
            <div class="wrap">
                <!-- TOGGLE -->
                <div id="toggle-wrap">
                    <div id="toggle-terms">
                        <div id="cross">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

              

                <!-- SLIDER -->
                <div class="content">
                    <!-- LOGO -->
                    <div class="logo">
                        <a href="#"><img src="../../public/imgs/logo.png" alt=""></a>
                    </div>
                    <!-- SLIDESHOW -->
                    <div id="slideshow">
                        <div class="one">
                            <h2><span>Eventos</span></h2>
                            <p>Se inscreva e participe de diversos eventos tecnológicos ao redor do país.</p>
                        </div>
                        <div class="two">
                            <h2><span>Aprendizado</span></h2>
                            <p>Tenha acesso a milhares de aulas e cursos online</p>
                        </div>
                        <div class="three">
                            <h2><span>Comunidade</span></h2>
                            <p>Crie sua própria comunidade, compartilhe e tire dúvidas com outras pessoas.</p>
                        </div>
                        <div class="four">
                            <h2><span>Compartilhe</span></h2>
                            <p>Compartilhes seus trabalhos e conhecimentos com outras pessoas para que possam contribuir.</p>
                        </div>
                    </div>
                </div>
                <!-- LOGIN FORM -->
                <div class="user">
                    
                
                    
                    <div class="form-wrap">
                        <!-- TABS -->
                    	<div class="tabs">
                            <h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span>Entrar</span></a></h3>
                    		<h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content"><span>Cadastrar</span></a></h3>
                    	</div>
                        <!-- TABS CONTENT -->
                    	<div class="tabs-content">
                            <!-- TABS CONTENT LOGIN -->
                            <form class="login-form" method="POST" action="../../controller/loginBean.php">
                                <div id="login-tab-content" class="active">
                                    <form class="login-form">
                                        <input type="text" class="input" name="user_login" autocomplete="off" placeholder="Nome de Usuário">
                                        <input type="password" class="input" name="user_pass" autocomplete="off" placeholder="Senha">
                                        <input type="submit" value="Entrar" name="entrar">
                                    </form>
                                </div>
                            </form>
                            <!-- TABS CONTENT SIGNUP -->
                    		<div id="signup-tab-content">
                    			<form class="signup-form" method="POST" action="../../controller/loginBean.php">
                                            <input type="text" class="input" name="user_name" autocomplete="off" required="" placeholder="Nome de Usuário">
                    				<input type="password" class="input" name="user_pass" autocomplete="off" required="" placeholder="Senha">
                    				<input type="submit" name="cadastrar" value="Cadastrar">
                    			</form>
                    			
                    		</div>
                    	</div>
                	</div>
                </div>
            </div>
        </div>
      
<script type="text/javascript" src="../../public/js/stopExecutionOnTimeout.js"></script>
<script type="text/javascript" src='../../public/js/jquery.min.js'></script>
<script type="text/javascript" src="../../public/js/loginJs.js">
</script>
</body></html>